---
export const prerender = false;
import Layout from "@/layouts/Layout.astro";
import { Board } from "@/components/Board";
// We'll hydrate the Board on the client
const { id } = Astro.params;
---

<Layout title={`Board ${id}`}>
  <main>
    <Board roomId={id || "default"} client:only="react" />
  </main>
</Layout>
